@model IList<SkillTest.WebApplication.LokasiDto>

@{
    ViewData["Title"] = "Lokasi";
}

<div>
    <h1 style="text-align:center;">List of Lokasi</h1>
</div>

<div class="container-fluid text-center">
    <div class="row content" style="place-content:center;">
        <div class="col-sm-8 text">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Lokasi</th>
                            <th>Aksi</th>
                        </tr>
                        <tbody>
                        @{int i=1;}
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@i</td>
                            <td>@item.Deskripsi</td>
                            <td>
                                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.LokasiID">Edit</a>
                                <form style="display:contents;" asp-action="Delete" method="OnGetDelete" asp-route-id="@item.LokasiID" onclick="return confirm('Apakah Anda yakin akan menghapus Lokasi?')">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                        i++;
                        }
                    </tbody>
                    </thead>
                </table>
            </div>
            <a class="btn btn-primary" asp-action="Create">Tambah Data</a>
        </div>
    </div>
</div>